<div class="detail-layout">
  <div class="detail-top">
    <div class="title">
      <h1>{{data.title}}</h1>
    </div>
    <div class="uploader">
      上传人：{{data.author}}
    </div>
    
  </div>
  <div class="tags">
    @for(tag of data.tags; track tag.id){
      <div 
         class="tag"
         #tagRef
         nz-icon nzType="delete"
         [style.left.px]="tag.x" 
         [style.top.px]="tag.y" 
         [style.backgroundColor]="tag.color" 
         [attr.data-index]="tag.id">
        {{tag.name}}
      </div>
    }
  </div>
  <div class="content">
    {{data.description}}
  </div>
  <div class="img">
    <img [src]="data.img" alt="123">
  </div>

</div>