.map-container {
  display: flex;
  height: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
}

.left-person {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 30px;
  background-color: #fff;
}

.right-person {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 30px;
  background-color: #fff;
}

