.workspace-layout.workspace {
  display: flex;
  overflow: hidden;
}

.workspace-main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

nz-splitter-panel {
  overflow: hidden;
}

nz-splitter {
  overflow: hidden;
}