.workspace-layout.workspace {
  display: flex;
  overflow: hidden;
}

.workspace-main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

nz-splitter-panel {
  overflow: hidden;
}

nz-splitter {
  overflow: hidden;
}

.guide-highlight {
  position: relative !important;
  z-index: 1000000 !important;
}