<div id="sticky-parallax-header" class="title cant-select">
    <span>欢迎来到首页</span>
    <span class="title-desc mb-20">
      TEST
      <a href="https://github.com/snowwolfair" target="_blank"><i nz-icon nzType="github" nzTheme="outline"></i>{{`@Snowwolf`}}</a>
      TEST</span>
    <button (click)="joinUs()" style="cursor: pointer;">加入我们</button>
    <!-- <button (click)="minArraySum([58,68,57,71,52,6,40,22,13,29,26,17,47,31,51,73,59,69,37,14], 34)" style="cursor: pointer;">入我们</button> -->
</div>
<div class="container">
  <div class="left-box"> 
    <nz-affix [nzOffsetTop]="vhInPx" #affixLeftBox>

      <div class="g-bg">
        <div class="g-polygon g-polygon-1"></div>
        <div class="g-polygon g-polygon-2"></div>
        <div class="g-polygon g-polygon-3"></div>
      </div>

      <div class="affix-self" style="margin: 0px 15px 15px 15px;">
        <div class="avatar">
          <img src="assets/rgba.png" alt="" class="mb-20 cant-select" style="width: 80px; margin-top: 10px;">
          <span>test: Dragon_Flight</span>
        </div>
        <nz-divider nzText="称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号" class="cant-select"></nz-divider>
        <div class="tag-label">
          @for(tag of tagData; track $index){
            <colorful-tag class="cant-select" style="display: flex;" [data]="tag"></colorful-tag>
          }
          <div class="shiny-tag cant-select" style="background: linear-gradient(45deg, #3eee09, #198622);">
            测试
          </div>
          <div class="shiny-tag cant-select" style="background: linear-gradient(45deg, #c6eff7, #0cd9fd);">
            测试
          </div>
          <div class="shiny-tag cant-select" style="background: linear-gradient(45deg, #FFD700, #FFA500);">
            <img src="assets/kingicon.png" alt="" style="width: 20px;">
             测试tag
          </div>
        </div>
        <nz-divider nzText="测试&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;精选" class="cant-select"></nz-divider>
        <div class="aplayers">
          <div id="aplayer"></div>
        </div>
        <nz-divider nzText="目&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录" class="cant-select"></nz-divider>
        <a (click)="scrollTo('rightbox1')">热门标签</a>
        <a (click)="scrollTo('rightbox2')">最新动态</a>
        <a (click)="scrollTo('rightbox3')">加入我们</a>
      </div>
    </nz-affix>
  </div>
  <div class="right-box">
    <div class="right-box-1 label-box" id="rightbox1">
      <h2>最新动态</h2>
      <img src="assets/kingicon.png" alt="" style="width: 20px;">
    </div>
    <div class="right-box-2 label-box" id="rightbox2">
      <h2>最新动态</h2>
    </div>
    <div class="right-box-3 label-box" id="rightbox3">
      <h2>最新动态</h2>
      <div>
      <button (click)="gotoLogin()">加入我们</button>
      </div>
    </div>
  </div>
</div>


