<div class="tag-pool-container">
  <div class="selected-tags" [ngClass]="{'error': error}">


    @for(tag of selectedTags; track tag.id) {
      <div class="tags selected" (click)="deselectTag(tag)" [style.backgroundColor]="tag.color">
        {{tag.name}}
        <nz-icon nzType="delete" (click)="deselectTag(tag)" />
        <span class="remove-tag">×</span>
      </div>
    }
    <!-- <span class="remove-tag" (click)="showTagPool()">></span> -->
  </div>
  @if(error) {
    <div class="error-message">* 最多选择3个标签</div>
  }
  
  @if(showTagsPool){
    <div class="tag-pool" #tagPool>
      @for(tag of availableTags; track tag.id){
        <div 
           class="tag"
           #tagRef
           nz-icon nzType="delete"
           (click)="selectTag(tag)" 
           [style.left.px]="tag.x" 
           [style.top.px]="tag.y" 
           [style.backgroundColor]="tag.background" 
           [style.borderColor]="tag.border"
           [style.color]="tag.color"
           [attr.data-index]="tag.id">
          {{tag.name}}
        </div>
      }
    </div>
  }
  
  
</div>