.title{
    font-size: 3em;
    background-color: aquamarine;
}

.shuxing1{
    float: left;
    width: 12em;
    height: fit-content;
    word-wrap: break-word;
    padding: 1em;
    text-align: center;
}

.shuxing2{
    float: right;
    position: relative;
    width: 50%;
    height: fit-content;
    padding: 1em;
    text-align: center;
}

