.litematica-layout {
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 280px);
  min-height: 0;
}
.titile {
  background: #66ccff;
  border-radius: 5px;
  border: 2px solid #66ccff;
  box-shadow: 0px 0px 5px #66ccff;
  margin: 20px;
  text-align: center;
  font-family: arial;
  font-size: 20px;
}
.litematica-card {
  background: #fff;
  border-radius: 30px;
  border: 2px solid #000000;
  margin: 20px;
  padding: 20px;
  height: 196px;
}
.litematica-card:hover{
  box-shadow: 2px 2px 5px #000000;
  cursor: pointer;
}

.sizeable {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  height: 100%;
}

.divid {
  height: 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  width: 100%;
}

.upload-btn{
  width: 100%;
  height: 100%;
  background: #66ccff;
  border-radius: 5px;
  border: 2px solid #66ccff;
  box-shadow: 0px 0px 5px #66ccff;
  cursor: pointer;
  color:#fff
}

.all-layout {
  // overflow: hidden;
}
